Cargo IOT NodeRed Flows.json
[{"id":"9898f401.e0c0a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8007ba94.f1e0e8","type":"ibmiot in","z":"9898f401.e0c0a8","authentication":"apiKey","apiKey":"b2ebd88b.1dea78","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2020","applicationId":"","deviceType":"project","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":240,"wires":[["9295de11.cd23","aaa77e5e.63308","cd314b09.e79a68","e89c60d9.5a76d","5484ea42.6a1424","6d17c3e0.84de1c"]]},{"id":"2b109692.64e3aa","type":"debug","z":"9898f401.e0c0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"5484ea42.6a1424","type":"function","z":"9898f401.e0c0a8","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["2b109692.64e3aa","19ae6e9a.9354e1","5e6c4eb5.235ac"]]},{"id":"9295de11.cd23","type":"function","z":"9898f401.e0c0a8","name":"Humidity","func":"global.set('humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["2b109692.64e3aa","44ab54f7.fd338c"]]},{"id":"2d57930e.fdb05c","type":"debug","z":"9898f401.e0c0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":600,"wires":[]},{"id":"7317f89c.53ee98","type":"ui_button","z":"9898f401.e0c0a8","name":"Light On","group":"9d164c91.6e484","order":3,"width":0,"height":0,"passthru":false,"label":"Light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":240,"y":600,"wires":[["2d57930e.fdb05c","813000c7.50f3e"]]},{"id":"7c3d1559.fe17cc","type":"ui_button","z":"9898f401.e0c0a8","name":"Light Off","group":"9d164c91.6e484","order":4,"width":0,"height":0,"passthru":false,"label":"light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"str","topic":"","x":240,"y":680,"wires":[["2d57930e.fdb05c","813000c7.50f3e"]]},{"id":"44ab54f7.fd338c","type":"ui_gauge","z":"9898f401.e0c0a8","name":"Humidity","group":"9d164c91.6e484","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#d5e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":240,"wires":[]},{"id":"19ae6e9a.9354e1","type":"ui_gauge","z":"9898f401.e0c0a8","name":"Temperature","group":"9d164c91.6e484","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":80,"wires":[]},{"id":"aaa77e5e.63308","type":"function","z":"9898f401.e0c0a8","name":"airquality","func":"global.set('airquality',msg.payload.d.airquality)\nreturn {payload:msg.payload.d.airquality}","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["2b109692.64e3aa","c4999eeb.ffb02"]]},{"id":"c4999eeb.ffb02","type":"ui_gauge","z":"9898f401.e0c0a8","name":"","group":"9d164c91.6e484","order":6,"width":0,"height":0,"gtype":"gage","title":"Air Quality","label":"units","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":160,"wires":[]},{"id":"e48f60f8.5bc57","type":"http in","z":"9898f401.e0c0a8","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":240,"y":800,"wires":[["c014ea2a.a08e78"]]},{"id":"31abb1fd.782aee","type":"http response","z":"9898f401.e0c0a8","name":"","statusCode":"","headers":{},"x":490,"y":740,"wires":[]},{"id":"c014ea2a.a08e78","type":"function","z":"9898f401.e0c0a8","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":740,"wires":[["31abb1fd.782aee","48607ea6.4a0d2","813000c7.50f3e"]]},{"id":"48607ea6.4a0d2","type":"debug","z":"9898f401.e0c0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":800,"wires":[]},{"id":"cd314b09.e79a68","type":"function","z":"9898f401.e0c0a8","name":"Latitude","func":"global.set('Latitude',msg.payload.d.Latitude)\nreturn {payload:msg.payload.d.Latitude}","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["2b109692.64e3aa"]]},{"id":"e89c60d9.5a76d","type":"function","z":"9898f401.e0c0a8","name":"Longitude","func":"global.set('Longitude',msg.payload.d.Longitude)\nreturn {payload:msg.payload.d.Longitude}","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["2b109692.64e3aa"]]},{"id":"3cdd3de3.b0acb2","type":"http in","z":"9898f401.e0c0a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":460,"wires":[["75ecbf39.927f4"]]},{"id":"75ecbf39.927f4","type":"function","z":"9898f401.e0c0a8","name":"https response","func":"msg.payload={\"temperature\":global.get('temperature'),\"humidity\":global.get('humidity'),\"airquality\":global.get('airquality'),\"Latitude\":global.get('Latitude'),\"Longitude\":global.get('Longitude')}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["c804ea86.5087d8"]]},{"id":"813000c7.50f3e","type":"ibmiot out","z":"9898f401.e0c0a8","authentication":"apiKey","apiKey":"b2ebd88b.1dea78","outputType":"cmd","deviceId":"2020","deviceType":"project","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":680,"wires":[]},{"id":"c804ea86.5087d8","type":"http response","z":"9898f401.e0c0a8","name":"","statusCode":"","headers":{},"x":630,"y":460,"wires":[]},{"id":"5e6c4eb5.235ac","type":"switch","z":"9898f401.e0c0a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":40,"wires":[[]]},{"id":"4f0511be.1fc6b","type":"http request","z":"9898f401.e0c0a8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.fast2sms.com/dev/bulk?authorization=P0CAjScW5RpKkgsn98vzxTqd6mbaUQtI27Y3MBl4XGNefVJwOi2PtrTkADG58jXnQIeEMVi1cloCHBmp&sender_id=FSTSMS&message=This%20is%20test%20message&language=english&route=p&numbers=9491956808","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":80,"wires":[[]]},{"id":"33334e3e.850df2","type":"worldmap","z":"9898f401.e0c0a8","name":"","lat":"17","lon":"42","zoom":"11","layer":"OSM","cluster":"11","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":500,"y":520,"wires":[]},{"id":"6d17c3e0.84de1c","type":"function","z":"9898f401.e0c0a8","name":"","func":"msg.payload={\"name\":\"Joe\", \"lat\":global.get('Latitude'), \"lon\":global.get('Longitude')}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["33334e3e.850df2"]]},{"id":"b2ebd88b.1dea78","type":"ibmiot","z":"","name":"iot device","keepalive":"60","serverName":"pewl3m.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9d164c91.6e484","type":"ui_group","z":"","name":"Smart Home","tab":"d571b345.5199e","order":1,"disp":true,"width":"6","collapse":false},{"id":"d571b345.5199e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]